@import '../../node_modules/compass-mixins/lib/compass';
@import '../../node_modules/compass-mixins/lib/animation/core';
@import '../../node_modules/compass-mixins/lib/compass/css3/user-interface';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap-sprockets';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

// Include overrides
@import 'bootstrap_overrides/overrides';

// Helper style files
@import 'helpers/helpers';
@import 'helpers/mixins';
@import 'helpers/variables';

// Include module styles
@import 'includes';

@font-face {
    font-family: AlegreyaSans;
    src: url("../assets/fonts/alegreya-sans/AlegreyaSans-Regular.otf") format("opentype");
}

@font-face {
    font-family: AlegreyaSans Light;
    src: url("../assets/fonts/alegreya-sans/AlegreyaSans-Light.otf") format("opentype");
}

html {
    min-height: 100%;
}
body {
    background: rgba(226, 226, 226, 0.3);
    font-family: 'Arial';
    overflow-x: hidden;
    position: relative;
    margin: 0;
    display: block;
}

* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

.hide {
  display: none;
}
.badged {
    background: #eee;
    width: 10px;
    height: 10px;
    @include border-radius(50%);
    display: block;
    float: left;
    margin: 9px 10px;
    &.started {
        background: #A1D6AF;
    }
    &.done {
        background: #85CCFF;
    }
}

.status-examples {
    li {
        float: left;
        padding: 10px;
        .badged {
            margin: 4px 5px;
        }
    }
}
h1 {
    font-family: 'AlegreyaSans Light';
    font-size: 60px;
}

ul {
    -webkit-margin-start: 0;
    -webkit-padding-start: 0;
    list-style: none;
}

form {
    position: relative;
    input {
        &.form-control {
            width: 100%;
            padding: 10px 82px 10px 10px;
            font-size: 14px;
            @include border-radius(3px);
            border: 0;
            border: 1px solid cornflowerblue;
            height: 39px;
        }
        &[type="submit"] {
            position: absolute;
            top: 0;
            height: 35px;
            margin: 1px;
            color: white;
            background: cornflowerblue;
            right: 0;
            border: 0;
            font-size: 14px;
            @include border-radius(3px);
            margin: 2px;
        }
    }

    input[type="submit"] {
        position: absolute;
        top: 0;
        height: 35px;
        margin: 1px;
        color: white;
        background: cornflowerblue;
        right: 0;
        border: 0;
        font-size: 14px;
        @include border-radius(3px);
        margin: 2px;
    }

    input[type="submit"]:enabled {
        cursor: pointer;
    }

    input[type="submit"]:enabled:hover {
        @include opacity(0.8);
    }

    input[type="submit"]:disabled,
    input[type="submit"]:disabled:hover {
        background: #DCDCDC;
        color: white;
    }
}
ul.options {
    width: 100%;
    display: inline-block;
    margin: 20px 0;
    padding: 0;
    li {
        float: left;
        width: 33.3333333%;
        cursor: pointer;
        a, a:hover {
            text-decoration: none;
        }
        .title {
            color: cornflowerblue;
        }
        i {
            color: cornflowerblue;
            display: block;
            &:hover {
                @include opacity(0.5);
            }
        }
        
        &.active {
            i {
                @include opacity(0.5);
            }
        }
    }
}

ul.list {
    float: left;
    width: 100%;
    list-style: none;
    text-align: left;
    font-size: 14px;
    
    li {
        display: block;
        float: left;
        width: 100%;
        padding: 5px;
        .badged {
            float: inherit;
        }
        .title {
            display: table;
            // float: left;
            line-height: 28px;
        }   
        &:hover button {
            background: cornflowerblue;
        }
        span {
            line-height: 25px;
        }
        &:nth-child(odd) {
          background: white;
        }
        button {
            float: right;
            margin: 1px;
            color: white;
            /*background: cornflowerblue;*/
            background: #DCDCDC;
            border: 0;
            font-size: 14px;
            border-radius: 3px;
            margin: 2px;
            cursor: pointer;
            &:hover {
                @include opacity(0.8);
            }
        }
    }
}
